@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/img/balance-ballerina-ballet-46158.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contact Us!</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Content-->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p><b>Phone Number</b> - <a href="#">0141 888 888</a></p>
                <p><b>Address</b></p>
                <p>Local Theatre</p>
                <p>Local Theatre Street</p>
                <p>Glasgow</p>
                <p>Scotland</p>
                <div>
                </div>
            </div>
        </div>
    </div>
</article>