@model dynamic

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>System Management</h1>
                </div>
            </div>
        </div>
    </div>
</header>

@if (User.IsInRole("Staff") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title">
                        <center>Blog</center>
                    </h2>
                    <a href="@Html.Raw(Url.Action("Create", "Posts"))">
                        <h2 class="post-title">
                            Create Post
                        </h2>
                        <hr />
                    </a>
                    <a href="@Html.Raw(Url.Action("Index", "Categories"))">
                        <h2 class="post-title">
                            Edit Categories
                        </h2>
                        <hr />
                    </a>
                </div>
            </div>
        </div>
    </div>
}
    <hr />
@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title">
                        <center>Moderation</center>
                    </h2>
                    <a href="@Html.Raw(Url.Action("Index", "Users"))">
                        <h2 class="post-title">
                            Edit Users
                        </h2>
                        <hr />
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<!-- Bootstrap core JavaScript -->
<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/Content/js/clean-blog.min.js"></script>


<!-- Bootstrap core CSS -->
<link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="/Content/css/clean-blog.min.css" rel="stylesheet">